<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper      
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.september.interpark.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="com.september.interpark.modules.code.Code"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.*
			,(SELECT ccgNameKo FROM ccg aa WHERE 1=1 AND aa.ccgseq = a.ccg_seq)as ccgNameKo
			FROM cc a
		WHERE 1=1
			<!-- AND ccuseNy = 1 -->
		<if test="shdelNy != null and !shdelNy.equals('')">AND ccdelNy = #{shdelNy}</if> 
			<choose>
				<when test="shOption == 1">AND ccseq = #{shValue}</when>
				<when test="shOption == 2">AND ccnameko LIKE CONCAT('%',#{shValue},'%')</when>
				<otherwise></otherwise>
			</choose>	
	</select>
	
	<insert id="insert">
		INSERT INTO cc(
			ccnameko
			,ccnameeg
			,ccuseNy
			,ccdelNy
			,ccorder
			,ccg_seq
			<!-- ,ccgNameKo -->
		)
		VALUES(
			#{ccnameko}
			,#{ccnameeg}
			,#{ccuseNy}
			,#{ccdelNy}
			,#{ccorder}
			,#{ccg_seq}
			<!-- ,#{ccgNameKo} -->
		)
		<selectKey resultType="String" keyProperty="ccseq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
  	<select id="viewList" resultMap="resultMapObj">
		SELECT
			a.*
			From ccg a
			WHERE 1=1
	</select> 
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.*
		FROM cc a
			WHERE 1=1
			AND ccseq=#{ccseq}	
	</select> 
	
	
</mapper>