<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper      
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.september.interpark.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="com.september.interpark.modules.code.Code"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.*
			,b.ccgNameKo
		FROM cc a
		JOIN ccg b on b.ccgseq=a.ccg_seq
		WHERE 1=1
			<!-- AND ccuseNy = 1 -->
		<if test="shdelNy != null and !shdelNy.equals('')">AND ccdelNy = #{shdelNy}</if> 
			<choose>
				<when test="shOption == 1">AND ccSeq = #{shValue}</when>
				<when test="shOption == 2">AND ccnameko LIKE CONCAT('%',#{shValue},'%')</when>
				<otherwise></otherwise>
			</choose>	
	</select>
	
	<insert id="insert">
		INSERT INTO cc(
			ccnameko
			,ccnameeg
			,ccuseNy
			,ccdelNy
			,ccorder
		)
		VALUES(
			#{ccnameko}
			,#{ccnameeg}
			,#{ccuseNy}
			,#{ccdelNy}
			,#{ccorder}
		)
		<selectKey resultType="String" keyProperty="ccseq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	
</mapper>