<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper      
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.september.interpark.modules.pay.PayMapper">

    <resultMap id="resultMapObj" type="com.september.interpark.modules.pay.Pay"></resultMap>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.*
			,b.*
			<!-- ,c.* -->
		FROM seatGrade a
		JOIN game b on b.gameSeq = a.seatGrade_gameSeq 
		<!-- JOIN seat c on c.seatGrade_seatGradeSeq = a.seatGradeSeq -->
		WHERE 1=1
			AND seatGradeSeq = #{seatGradeSeq}
			<!-- AND a.game_gameSeq = c.game_gameSeq -->
			<!-- AND seatGrade_seatGradeSeq !=0  -->
	</select>
	
	<select id="selectSeatList" resultMap="resultMapObj" >
		SELECT
			a.*
			,b.*
		FROM seatGrade a
		JOIN seat b on a.seatGradeSeq = b.seatGrade_seatGradeSeq
		WHERE 1=1
			AND a.seatGradeSeq = #{seatGradeSeq}
			AND a.seatGrade_gameSeq = b.seat_gameSeq 	
	</select>
	
	<select id="selectSeat" resultMap="resultMapObj">
		SELECT
			a.seatSeq
		FROM seat a
		WHERE 1=1
			AND seatSeq = #{seatSeq}
	</select>
	
	<select id="selectSeatOne" resultMap="resultMapObj">
		SELECT
			a.seatSeq
		FROM seat a
		WHERE 1=1
			AND seatSeq = #{seatSeq}	
	</select>
	
	<update id="update">
		UPDATE seat
		SET
			purchaseDiv = '1'
		WHERE 1=1
			AND seatSeq = #{seatSeq}	
	</update>
	



</mapper>