<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper      
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.september.interpark.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.september.interpark.modules.codegroup.CodeGroup"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		select
			a.*
    		,(select count(ccg_seq)  From  cc where 1=1 and ccg_seq=ccgseq) as ccg_seq
		from ccg a
		WHERE 1=1
		<!-- AND ccgdelNy =1 -->
		<!-- AND ccgNameKo LIKE CONCAT('%', #{shValue}, '%') -->
		<if test="shdelNy != null and !shdelNy.equals('')">AND ccgdelNy = #{shdelNy}</if> 
			<choose>
				<when test="shOption == 1">AND ccgSeq = #{shValue}</when>
				<when test="shOption == 2">AND ccgNameKo LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND ccgNameEng LIKE CONCAT('%',#{shValue},'%')</when>
				<otherwise></otherwise>
			</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO ccg(
			ccgNameKo
			,ccgNameEg
			,ccguseNy
			,ccgdelNy
			,ccgorder
		)
		VALUES(
			#{ccgNameKo}
			,#{ccgNameEg}
			,#{ccguseNy}
			,#{ccgdelNy}
			,#{ccgorder}
		)
		<selectKey resultType="String" keyProperty="ccgseq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
		
	
	</insert>

</mapper>