<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper      
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.september.interpark.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.september.interpark.modules.codegroup.CodeGroup"></resultMap>
    
	<sql id ="selectCommon">
		FROM ccg a
		WHERE 1=1
			<if test="shdelNy != null and !shdelNy.equals('')">AND ccgdelNy = #{shdelNy}</if>
			<choose>
				<when test="shOption == 1">AND ccgseq = #{shValue}</when>
				<when test="shOption == 2">AND ccgNameKo LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND ccgNameEg LIKE CONCAT('%',#{shValue},'%')</when>
			</choose>
	</sql>    
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" /> 
			select
				a.*
	    		,(select count(aa.ccg_seq)  From cc aa where 1=1 and aa.ccdelNy = 1 and aa.ccg_seq = a.ccgseq)as ccg_seq
		<include refid="selectCommon"/>
		ORDER BY a.ccgSeq DESC
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<insert id="insert">
		INSERT INTO ccg(
			ccgNameKo
			,ccgNameEg
			,ccguseNy
			,ccgdelNy
			,ccgorder
			,ccgRegTime
		)
		VALUES(
			#{ccgNameKo}
			,#{ccgNameEg}
			,#{ccguseNy}
			,#{ccgdelNy}
			,#{ccgorder}
			,now()
		)
		<selectKey resultType="String" keyProperty="ccgseq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
		
	
	</insert>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.*
		FROM ccg a
		WHERE 1=1
			AND ccgseq=#{ccgseq}	
	</select>
	
	<update id="update">
		UPDATE ccg
		SET
			ccgNameKo = #{ccgNameKo}
			,ccgNameEg = #{ccgNameEg}
			,ccguseNy = #{ccguseNy}
			,ccgorder = #{ccgorder}
			,ccgdelNy = #{ccgdelNy}	
			WHERE 
				ccgseq =#{ccgseq}	
	</update>
	
	<update id="uelete">
	 	UPDATE ccg
	 	SET
	 		ccgdelNy =0	 		
	 	WHERE
	 		ccgseq=#{ccgseq}	
	</update>
	
	<delete id="delete">
		DELETE FROM ccg WHERE ccgseq=#{ccgseq}
	</delete>
	

	
	

</mapper>