<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper      
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.september.interpark.modules.main.MainMapper">

    <resultMap id="resultMapObj" type="com.september.interpark.modules.main.Main"></resultMap>
	
	
	<!-- 공통 -->
	<sql id="selectCommon">
		FROM game a
		WHERE 1=1
		<if test="shdelNy != null and !shdelNy.equals('')">AND gameDelNy = #{shdelNy}</if>
	 	<choose>
			<when test="shOption == 1">AND gameSeq = #{shValue}</when>
			<when test="shOption == 2">AND date LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND ground LIKE CONCAT('%',#{shValue},'%')</when>
			<otherwise></otherwise>
		</choose>
	</sql>
	
	<!-- 관리자_게임리스트 -->
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.*
		<include refid="selectCommon"/>
		ORDER BY a.gameSeq DESC
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"/>
	</select>
	
	<!-- 관리자_폼_경기장선택 -->
	<select id="viewList" resultMap="resultMapObj">
		SELECT
			a.*
		FROM teamName a	
	</select>
	
	<!-- 관리자_게임등록 -->
	<insert id="gameInst">
		INSERT INTO game(
			whoHome
			,whoAway
			,date
			,time
			,ground
			,gameDelNy
		)
		VALUES(
			#{whoHome}
			,#{whoAway}
			,#{date}
			,#{time}
			,#{ground}
			,1
		)
		<selectKey resultType="String" keyProperty="gameSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<!-- 관리자_게임뷰_한명 선택 -->
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.*
		FROM game a
		WHERE 1=1
			AND gameSeq = #{gameSeq}	
	</select>
	
	<!-- 관리자_게임뷰_게임정보업데이트 -->
	<update id="update">
		UPDATE game
		SET
			whoHome = #{whoHome}
			,whoAway = #{whoAway}
			,date = #{date}
			,time = #{time}
			,ground = #{ground}
		WHERE
			gameSeq = #{gameSeq}	
	</update>
	
	<!-- 관리자_게임뷰_게임정보uelete -->
	<update id="uelete">
		UPDATE game
		SET
			gameDelNy= 0
		WHERE
			gameSeq = #{gameSeq}
	</update>
	
	<!-- 관리자_게임뷰_게임정보delete -->
	<delete id="delete">
	DELETE FROM game WHERE gameSeq = #{gameSeq}
	</delete>
	
	<!-- 유저_게임선택 -->
	<select id="selectListGame" resultMap="resultMapObj">
		SELECT
			a.*
		FROM game a
		WHERE 1=1
			AND
			gameDelNy= 1	
	</select>
	
	<!-- 유저_게임선택한개하기 -->
	<!-- <select id="selecOneGame" resultMap="resultMapObj">
		SELECT
			a.*
		FROM game a	
	</select> -->
	
	<!-- 유저_좌석선택 좌석 리스트 띠우기 -->
	<select id="selectListSeat" resultMap="resultMapObj">
		select aa.*from(
			SELECT
			a.*
			,(SELECT COUNT(aa.seatGrade_seatGradeSeq) FROM seat aa where 1=1 AND aa.purchaseDiv = 0 AND aa.game_gameSeq= #{gameSeq}  AND aa.seatGrade_seatGradeSeq = a.seatGradeSeq) as seatGrade_seatGradeSeq
			<!-- ,b.* -->
				FROM seatGrade a
				<!-- LEFT JOIN game b on b.gameSeq = a.game_gameSeq --> 
				WHERE 1=1
				AND game_gameSeq = #{gameSeq}
				)	aa	
	</select>
	  
	
	<!-- 게임 시퀀스 가져가기 시험 -->
	<select id="selectOneGame" resultMap="resultMapObj">
		SELECT 	
			a.gameSeq
			,a.whoHome
			,a.whoAway
			,a.date
			,a.time
			,a.ground
		FROM 
			game a
		WHERE 1=1
			AND a.gameSeq = #{gameSeq}		
	</select>
	
</mapper>