<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper      
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.september.interpark.modules.main.MainMapper">

    <resultMap id="resultMapObj" type="com.september.interpark.modules.main.Main"></resultMap>
	
	<sql id="selectCommon">
		From games a
		WHERE 1=1
			<if test="shdelNy != null and !shdelNy.equals('')">AND gameDelNy = #{shdelNy}</if>
			<choose>
				<when test="shOption == 1">AND gameseq = #{shValue}</when>
				<when test="shOption == 2">AND dob = #{shValue}</when>
			</choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.gameseq
			,a.dob
			,a.ground
			,a.time
			,a.whoHome
			,a.whoAway
		<include refid="selectCommon"/>	
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"/>
	</select>
	
	<!-- 경기장 좌석 선택 -->
	<select id="selectListSeatGrade" resultMap="resultMapObj">
		SELECT 
			a.seatSeq
			,a.seatGrade
			<!-- ,b.whoHome
			,b.whoAway -->
		FROM seat a	
		<!-- LEFTJOIN games b on  -->
	</select>
	
	<!-- 관리자_경기정보입력폼1 -->
	<insert id="insert">
		INSERT INTO games(
			whoHome
			,whoAway
			,dob
			,time
			,ground
		)
		VALUES(
			#{whoHome}
			,#{whoAway}
			,#{dob}
			,#{time}
			,#{ground}
		)
		<selectKey resultType="String" keyProperty="gameseq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<select id="viewList" resultMap="resultMapObj">
		SELECT
			a.*
		FROM team a
		WHERE 1=1	
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.*
		FROM games a
		WHERE 1=1
			AND gameseq = #{gameseq}		
	</select>
	
	<update id="update">
		UPDATE games
		SET
			dob = #{dob}
			,ground = #{ground}
			,time = #{time}
		WHERE
			gameseq = #{gameseq}	
	</update>

	<update id="uelete">
		UPDATE games
		SET 
			gameDelNy = 0
		WHERE 
			gameseq = #{gameseq}	
	</update>
	
	<delete id="delete">
		DELETE FORM games WHERE gameseq = #{gmaeseq}
	</delete>

</mapper>