<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper      
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.september.interpark.modules.user.UserMapper">

    <resultMap id="resultMapObj" type="com.september.interpark.modules.user.User"></resultMap>
	
	<insert id="insert">
		INSERT INTO member(
			id
			,pwd
			,personalAgree
			,name
			,gender
			,email
		)
		VALUES(
			#{id}
			,#{pwd}
			,#{personalAgree}
			,#{name}
			,#{gender}
			,#{email}
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
		
	</insert>

</mapper>